<div class="todo">
  <div class="todo-container">
    <% if @posts.present? %>
      <div class="todo-txt">
        <h2 class="title is-2">DO IT ASAP!</h2>
      </div>
      
        <div class="columns">
          <div class="column">
            <%= render "today" %>
          </div>
          <div class="column">
            <%= render "week" %>
          </div>
          <div class="column">
            <%= render "month" %>
          </div>
        </div>
        <% if @other_posts.present? %>
          <div class="columns">
            <div class="column is-full">
              <%= render "other" %>
            </div>
          <div>
        <% end %>
        
    <% else %>
      <div class="todo-nothing">
        <p class="title is-1">YOU HAVE NOTHING TO DO!</p></br>
        <progress class="progress is-small is-info" max="100">60%</progress>
        <p>Create some new tasks!</p></br>
      </div>
    <% end %>
  </div>
</div>  