
<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-8 has-text-centered	">
      <h2 class="title is-2">DO IT ASAP!</h2>

          <nav class="leve is-mobile">
              <% @posts.each do |post| %>

              <div class="level-item has-text-centered">
                <%= word_wrap(post.content, :line_width => 5) %> 
              </div>
              <div class="level-item has-text-centered">
                <%= post.date.to_formatted_s(:long)%>
              </div>
              <div class="level-item has-text-centered">
                <%= link_to 'Edit', edit_post_path(post) %>
                <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
             <% end %>
         </nav>

      </div>
    </div>
  </div>
</div>